body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #242422;
}

.container {
  background-color: #fff;
  padding: 3rem 2.5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80vw;
  max-width: 37.5em;
  border-radius: 0.62em;
}
.App {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
}
.App button {
  font-size: 1em;
  background-color: blueviolet;
  padding: 0.8em 0;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
}
.App input {
  font-size: 1em;
  padding: 0 0.62em;
  border: none;
  outline: none;
  border-bottom: 2px solid blueviolet;
}

.flag {
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin: 1.8em auto 1.2em auto;
}
.container h2 {
  font-weight: 600;
  color: #242422;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}
.wrapper-items {
  margin-bottom: 1em;
  letter-spacing: 0.3px;
}
.container h4{
  display: inline;
  font-weight: 500;
  color: #242422;
}
.container span{
  color: #242422;
}
.container h3{
  text-align: center;
}
.currencyName{
  text-transform: capitalize;
}